name: First action
on: [push]
jobs:
  build:
    runs-on: debian-stable
    steps:
      - uses: actions/checkout@v2
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2'
      - run: Rscript -e 'print("hello")'



